{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Symbol</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{data["name"]}}</td>
                    <td>{{data["price"] | usd}}</td>
                    <td>{{data["symbol"]}}</td>
                </tr>
            </tbody>
        </table>
{% endblock %}
